<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ImageReference</key>
	<string>Images/HaoDong.png</string>
	<key>SwiftVersion</key>
	<string>3.1</string>
	<key>Version</key>
	<string>1.0</string>
	<key>ContentVersion</key>
	<string>1.0</string>
	<key>Name</key>
	<string>HaoDong&apos;s PlaygroundBook</string>
	<key>ContentIdentifier</key>
	<string>com.scauos.PlaygroundBook</string>
	<key>DeploymentTarget</key>
	<string>ios10.0</string>
	<key>Chapters</key>
	<array>
		<string>AboutMe.playgroundchapter</string>
		<string>Maze Game.playgroundchapter</string>
	</array>
</dict>
</plist>
